<div class="container">
	<app-header [title]="title"></app-header>
	<form class="form-control">
		<div *ngFor="let toDoItem of toDoList">
			<app-to-do-item [toDoItem]="toDoItem"></app-to-do-item>
		</div>
		<div class="input-button-row">
			<mat-form-field class="example-full-width" appearance="fill">
				<mat-label>Add New Task</mat-label>
				<input matInput>
			</mat-form-field>
			<button mat-flat-button color="primary" (click)="onClick">Add</button>
		</div>
	</form>

	<!-- <router-outlet></router-outlet> -->
</div>
