<h1 mat-dialog-title>ADD TASK</h1>
<div mat-dialog-content>
	<mat-form-field [formGroup]="addToDoForm" appearance="outline">
		<mat-label>Task title</mat-label>
		<input class="form-control" matInput placeholder="Title" formControlName="name">
	</mat-form-field>
	<!-- <mat-form-field appearance="outline">
		<mat-label>Task priority</mat-label>
		<mat-select placeholder="Category">
			<mat-option value="Electronics">High</mat-option>
			<mat-option value="Clothing">Medium</mat-option>
			<mat-option value="Kitchen">Low</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Due date</mat-label>
		<input matInput [matDatepicker]="picker">
		<mat-hint>MM/DD/YYYY</mat-hint>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field> -->
</div>
<mat-dialog-actions >
    <button type="button" class="mat-raised-button" (click)="onClose()" >Close</button>
    <button type="button" class="mat-raised-button mat-primary" [disabled]="!addToDoForm.valid" (click)="onAdd()">Save</button>
</mat-dialog-actions>