<div>
	<form class="form-control">

		<div class="input-button-row">
			<button mat-flat-button color="primary" type="submit" [routerLink]="['/addtask']">Add New Task</button>
		</div>
	</form>
</div>
	<div class="container">
	<!-- <div *ngIf="!!todo"> -->
		<div *ngFor="let todo of toDoList" >
			<mat-checkbox class="example-margin" [(ngModel)]="todo.isComplete"></mat-checkbox>
			<span>{{todo.name}}</span>
			<span>Date created: {{todo.dateCreated | date}}</span>
			<button mat-raised-button color="primary" [routerLink]="['/edittask']" >Edit
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-raised-button color="primary">Delete
				<mat-icon>delete_forever</mat-icon>
			</button>
		</div>
	<!-- </div> -->
</div>
